@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap');

* {
  box-sizing: border-box;
}
/* holds film title and info */
.anime-box {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center;
  margin: 20px 0 0 200px;
  position: relative;
  width: 800px;
  /* outline: solid 1px blue; */
}

.anime-info-container {
  left: calc(50% + 50px);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 600px;
  /* outline: solid 1px blue; */
}

body {
  background-color: #000;
  background-attachment: fixed;
  background-image: url('img/spirited-away.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

.close-button {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  display: none;
  font-size: 18px;
  padding: 5px 25px;
  position: absolute;
  right: 15px;
  top: 10px;
}

.created-by {
  bottom: 5px;
  color: #000;
  font-size: 16px;
  left: 5px;
  position: absolute;
}

.display-anime-info {
  background-image: linear-gradient(
    0deg,
    rgba(204, 153, 153, 1) 23.8%,
    rgba(252, 221, 221, 1) 92%
  );
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
  color: #000;
  display: none;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 15px 25px 15px 15px;
  position: relative;
}

.display-anime-info-header {
  border-bottom: solid 1px #000;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.display-anime-title {
  background-image: url('img/totoro.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.75);
  display: none;
  height: auto;
  padding: 20px 0 20px 25px;
  position: relative;
  text-align: left;
  width: 700px;
}

.film-art {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  position: absolute;
  width: 200px;
  right: 5px;
  top: calc(100% - 15px);
}

.film-description {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  width: 100%;
  padding: 10px 20px;
  position: relative;
}

.film-info {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.film-title {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  position: relative;
  text-decoration: none;
  transition: all 0.25s ease;
}

.film-title::after {
  color: rgba(204, 153, 153, 1);
  content: '';
  position: absolute;
  right: -50px;
  transition: all 0.25s ease;
}

.film-title:hover::after {
  content: '<';
  right: -30px;
}

.film-title:hover {
  color: #669999;
  cursor: pointer;
}

.ghibli-history {
  background-image: linear-gradient(
    0deg,
    rgba(204, 153, 153, 1) 23.8%,
    rgba(252, 221, 221, 1) 92%
  );
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 200px;
  width: 800px;
  padding: 25px 15px;
}

.ghibli-history span {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 22px;
  margin: 10px 0;
  padding: 20px 10px;
  text-align: left;
}

.ghibli-logo {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
}

header {
  align-items: center;
  background-color: rgba(204, 153, 153, 1);
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  height: 100px;
  justify-content: center;
  padding: 25px 5px;
  position: relative;
  text-align: center;
  width: 100%;
}

header h2 {
  font-size: 28px;
  margin: 0;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
}

.main {
  min-height: 100%;
  padding-bottom: 20px;
  position: relative;
}

.search-form {
  margin: auto;
  text-align: center;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.75);
  width: 550px;
  padding: 5px 15px 10px 15px;
}

.search-form p {
  font-size: 18px;
}

.search-button {
  background: #808080;
  border: none;
  border-radius: 15px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 30px;
  transition: opacity 150ms ease;
}

.search-button:focus {
  outline: none;
}

.search-button:hover {
  cursor: pointer;
  opacity: 0.75;
}

@media (max-width: 1200px) {
  .anime-box {
    margin: 20px auto 0 auto;
    width: 700px;
  }

  .anime-info-container {
    width: 400px;
  }

  .film-art {
    right: 10px;
    bottom: -185px;
    width: 140px;
  }

  header {
    padding: 15px 5px;
  }

  .ghibli-history {
    font-size: 16px;
    margin: 20px auto 0 auto;
    padding: 10px;
    width: 700px;
  }
}

@media (max-width: 700px) {
  .anime-box {
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
  }

  .anime-info-container {
    left: 0;
    top: 100%;
    transform: translateY(0);
    width: 100%;
  }

  body {
    background-image: url('img/spirited-away-mobile.jpg');
  }

  .display-anime-info {
    border-radius: 0;
    padding: 5px;
  }

  .display-anime-title {
    border-radius: 0;
    padding: 20px 0 20px 5px;
    width: 100%;
  }

  .film-art {
    bottom: -150px;
    right: 10px;
    width: 125px;
  }

  .film-description {
    padding: 5px 10px;
  }

  .ghibli-history {
    border-right: none;
    border-radius: 0;
    margin: 20px auto 0 auto;
    padding: 10px 0;
    width: 100%;
  }

  .ghibli-history span {
    border-radius: 0;
    border-right: none;
    font-size: 18px;
  }

  .ghibli-logo {
    width: 150px;
  }

  header {
    align-items: flex-start;
    font-size: 25px;
  }

  .search-form {
    border-radius: 0;
    padding: 5px;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .film-art {
    top: calc(100% - 5px);
    width: 135px;
  }

  header h2 {
    font-size: 24px;
  }

  .ghibli-logo {
    top: calc(100% - 5px);
    transform: translateY(-100%);
    width: 125px;
  }
}
