/* holds film title and info */
.anime-box {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  margin: 30px 0 0 0;
  position: relative;
  width: 700px;
  /* outline: solid 1px blue; */
}

.anime-info-container {
  left: calc(50% + 50px);
  position: absolute;
  top: 75px;
  width: 600px;
  /* outline: solid 1px blue; */
}

body {
  background-color: #000;
  font-family: 'Nunito Sans', sans-serif;
}

.close-anime-button {
  background-color: #fff;
  border-radius: 5px;
  font-size: 20px;
  padding: 2px 15px;
  position: absolute;
  right: 15px;
  top: 5px;
}

.close-anime-button:hover {
  cursor: pointer;
}

.close-title-button {
  background-color: #fff;
  border-radius: 5px;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 18px;
  padding: 5px 25px;
  position: absolute;
  right: 15px;
  top: 10px;
}

.created-by {
  bottom: 5px;
  color: #000;
  font-size: 16px;
  left: 5px;
  position: absolute;
}

.display-anime-info {
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
  background-image: -webkit-gradient(linear,
      left bottom,
      left top,
      color-stop(23.8%, rgba(204, 153, 153, 1)),
      color-stop(92%, rgba(252, 221, 221, 1)));
  background-image: linear-gradient(0deg,
      rgba(204, 153, 153, 1) 23.8%,
      rgba(252, 221, 221, 1) 92%);
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
  color: #000;
  display: none;
  flex-direction: column;
  height: auto;
  padding: 15px 25px 15px 15px;
  position: relative;
  width: 100%;
}

.display-anime-info-header {
  border-bottom: solid 1px #000;
  font-size: 24px;
}

.display-anime-title {
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.75);
  -webkit-transition: opacity 500ms ease;
  background-image: url('../img/totoro.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.75);
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  height: auto;
  margin-left: 200px;
  opacity: 0;
  padding: 20px 0 20px 25px;
  position: relative;
  text-align: left;
  transition: opacity 500ms ease;
  width: 700px;
}

.film-art {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  position: absolute;
  right: -5px;
  top: calc(100% - 5px);
  width: 200px;
}

.film-description {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-size: 18px;
  width: 100%;
  padding: 10px 20px;
  position: relative;
}

.film-info {
  color: #000;
  font-size: 18px;
}

.film-title {
  -webkit-transition: all 250ms ease;
  color: #fff;
  font-size: 25px;
  position: relative;
  text-decoration: none;
  transition: all 250ms ease;
}

.film-title::after {
  -webkit-transition: all 250ms ease;
  color: rgba(204, 153, 153, 1);
  content: '';
  position: absolute;
  right: -50px;
  transition: all 250ms ease;
}

.film-title:hover::after {
  content: '<';
  right: -30px;
}

.film-title:hover {
  color: #669999;
  cursor: pointer;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 5px;
  text-align: center;
}

.footer-logo {
  margin: 0 auto;
  width: 50px;
}

.footer-logo img {
  height: auto;
  width: 100%;
}

.ghibli-history {
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-shadow: 0 0 10px #000;
  -webkit-transition: left 1000ms ease, opacity 500ms ease;
  background-image: -webkit-gradient(linear,
      left bottom,
      left top,
      color-stop(23.8%, rgba(204, 153, 153, 1)),
      color-stop(92%, rgba(252, 221, 221, 1)));
  background-image: linear-gradient(0deg,
      rgba(204, 153, 153, 1) 23.8%,
      rgba(252, 221, 221, 1) 92%);
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  opacity: 1;
  padding: 25px 15px;
  transition: z-index 500ms ease, opacity 500ms ease;
  width: 100%;
  z-index: 0;
  /* outline: solid 1px blue; */
}

.ghibli-history span {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-size: 18px;
  margin: 10px 0;
  padding: 20px 10px;
  text-align: left;
}

.ghibli-logo {
  -webkit-transform: translateY(-50%);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
}

header {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  align-items: center;
  background-color: rgba(204, 153, 153, 1);
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  padding: 25px 5px;
  position: relative;
  text-align: center;
  width: 100%;
}

header h2 {
  font-size: 28px;
  margin: 0;
}

.main {
  align-items: center;
  background-attachment: fixed;
  background-color: #000;
  background-image: url('../img/ghibli.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  padding-bottom: 20px;
  position: relative;
}

.search-form {
  -webkit-box-shadow: 0px 10px 20px #000;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 10px 20px #000;
  margin: 0 auto;
  height: auto;
  padding: 5px 15px 15px 15px;
  text-align: center;
  width: 550px;
}

.search-form p {
  font-size: 16px;
}

.search-button {
  -webkit-transition: opacity 150ms ease;
  background: #808080;
  border-radius: 15px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 30px;
  transition: opacity 150ms ease;
}

.search-button:focus {
  outline: none;
}

.search-button:hover {
  cursor: pointer;
  opacity: 0.75;
}

@media (max-width: 1200px) {

  .anime-box {
    width: 600px;
  }

  .anime-info-container {
    width: 400px;
  }

  .anime-info-container {
    left: calc(50% - 50px);
    width: 450px;
  }

  .display-anime-title {
    margin: auto;
  }

  .film-art {
    width: 140px;
  }

  .film-title {
    font-size: 20px;
  }

  header {
    padding: 15px 5px;
  }

  .ghibli-history {
    font-size: 18px;
    padding: 10px;
  }
}

@media (max-width: 700px) {

  .anime-box {
    width: 95%;
  }

  .anime-info-container {
    -webkit-transform: translateY(0);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  .close-anime-button {
    font-size: 18px;
    padding: 0 15px;
    position: absolute;
    right: 10px;
    top: 5px;
  }

  .display-anime-info {
    border-radius: 0;
    padding: 5px;
  }

  .display-anime-info-header {
    font-size: 20px;
  }

  .display-anime-title {
    border-radius: 0;
    padding: 20px 0 20px 5px;
    width: 100%;
  }

  .film-art {
    right: 10px;
    width: 125px;
  }

  .film-description {
    padding: 5px 10px;
  }

  .ghibli-history {
    border-right: none;
    padding: 10px 5px;
  }

  .ghibli-history span {
    border-radius: 0;
    border-right: none;
    font-size: 18px;
  }

  .ghibli-logo {
    width: 150px;
  }

  header {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
    font-size: 25px;
  }

  .search-form {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .ghibli-logo {
    -webkit-transform: translateY(-100%);
    top: calc(100% - 5px);
    transform: translateY(-100%);
    width: 125px;
  }

  header h2 {
    font-size: 24px;
  }
}